<div class="sidebar__section sidebar--devTools">
    <h4 class="sidebar__section-title">
        Session
    </h4>
    <div class="sidebar__section-text">
         { user_id: <%= cookies.signed[:user_id] %> }
    </div>
</div>
