<div class="main-bar">
    <div class="main-bar__navigation">
        <a href="#" class="main-bar__action-text">Change Room</a>
    </div>

    <div class="main-bar__username">
        <%= @user.name %>
    </div>

    <div class="main-bar__navigation">
        <%= link_to 'Logout', session_path, method: :delete, class: 'signout main-bar__action-text' %>
    </div>
</div>

<div class="app">

    <div class="sidebar sidebar--online-users">
        <div class="sidebar__section">
            <h4 class="sidebar__section-title">Online users</h4>
            <div class="sidebar__user-list">
                <a class="sidebar__user-link" href="#">Ultra Thundra Brain</a>
                <a class="sidebar__user-link" href="#">Doctor Redeemer X</a>
                <a class="sidebar__user-link sidebar__user-link--away" href="#">Mr Blade</a>
            </div>
        </div>
    </div>

    <div id="chat">
        loading...
    </div>
    
    <div class="sidebar sidebar--dev-tools">
        <%= render partial: 'debug' if Rails.env.development? %>
    </div>
</div>

<%= javascript_pack_tag 'chat' %>
