
.chat {
  display: flex;
  flex-flow: column nowrap;

  &__connection-status {
    padding: .75rem;
    margin: 0;
    text-align: center;
  }

  &__input {
    width: 100%;
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #dfdfdf;
  }

  &__messages {
    padding: .75rem;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    overflow: auto;
  }

  &__message {
    margin: .125rem 0;
    width: 100%;

    &--muted {
      color: gray;
      font-weight: bold;
    }
  }

  &__message-timestamp {
    color: darkgray;
    margin-right: .25rem;
  }
}

#chat {
  flex: 1;
  display: flex;

  .chat {
    flex: 1;
  }
}
