
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}

.app {
  display: flex;
  flex: 1;
}

.location-dialog {
  width: 100%;
  text-align: center;
}

.sidebar__section {
  border-bottom: 1px solid #dfdfdf;
  padding: .75rem;
}

.sidebar__section-title {
  color: #00000066;
  padding-bottom: .75rem;
  margin: 0;
}

