.main-bar {
  background: $color-main;
  color: #ffffff;
  height: 2.5rem;
  padding: 0 .5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &__navigation {
    width: 35%;

    &:last-of-type {
      text-align: right;
    }
  }

  &__action {
    height: 100%;
    padding: 0 .5rem;
  }

  &__action-text {
    display: inline-block;
    height: 100%;
    color: #fff;
    line-height: 2.75rem;
  }

  &__username {
    flex: 0 1 auto;
    line-height: 2.75rem;
  }
}
