.sidebar--online-users {
  border-right: 1px solid #dfdfdf;
  width: $sidebar-width;
}

.sidebar__user-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-bottom: .25rem;

  &:before {
    content: " ";
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: .75rem;
    background-color:#46dc90;
    margin-right: .5rem;
  }

  &--away:before {
    background-color: #f5c12d;
  }
}
